@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:ital,wght@0,400;0,500;1,400&family=Work+Sans:ital@1&display=swap');

:root {
    --orange: #faad37;
    --gray: #e7e3e3;
    --gray-dark: #807d7d;
    --black-blur: #202020;
    --white-ice: #f5f0f0;
    --shadow-default: 4px 4px 5px rgba(0, 0, 0, 0.75)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

.interface {
    width: 100%;
}

.interface .page header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    border-radius: 0 0 50px 50px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.interface .page header.only-namelogo {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 40px;
}

.page main .command {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.interface .page footer.only-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 40px;
}

main .submit-orange-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .submit-orange-button .submission-btn {
    background: var(--orange);
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
}